<div class="modal fade" id="notesModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 id="modalTitle" class="modal-title" id="myModalLabel">Article Notes</h4>
      </div>
      <div class="modal-body">
        <div id="notes"></div>
        <!-- <br> -->
        <textarea form="noteForm" placeholder="Enter New Note" name="body"></textarea>
      </div>
      <div class="modal-footer">
        <form id="noteForm" method="POST">
            <button type="submit" class="btn btn-success">Save Note</button>
            <!-- data-dismiss="modal" -->
            <!-- <button type="button" class="btn btn-primary">Save changes</button> -->
        </form>
      </div>
    </div>
  </div>
</div>

<nav class="navbar navbar-default">
    <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
        </div>
        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav">
                <li><a href="/">Home <span class="sr-only">(current)</span></a></li>
                <li><a href="/saves">Saved Listings</a></li>
            </ul>
            <form class="navbar-form navbar-right" action="/scrape" method="POST">
                <div class="form-group">
                    <input type="text" class="form-control" placeholder="Job Title" name="jobTitle" required>
                </div>
                <button type="submit" class="btn btn-danger">Scrape!</button>
            </form>
        </div>
        <!-- /.navbar-collapse -->
    </div>
    <!-- /.container-fluid -->
</nav>
<div class="container-fluid">
    <div class="jumbotron">
        <a href="/saves" id="title"><h1>Saved Listings</h1></a>
        <h3>YOUR SAVED LISTINGS</h3>
    </div>
    {{#each saves}} {{#if this.title}}
    <div id="listing" class="panel panel-default">
        <div class="panel-body">
            <a id="listingTitle" href={{this.link}}>{{this.title}}</a>
            <span id="buttons" class="buttons">
                <button type="button" class="btn btn-info" data-toggle="modal" data-target="#notesModal" data-whatever={{this._id}}>Article Notes</button>
                <button id="deleteListing" type="button" class="btn btn-warning" data-id={{this._id}}>Delete Listing</button>
            </span>
        </div>
    </div>
    {{/if}} {{/each}}
</div>
